/build/
/doc/
/node_modules/
/app/bootstrap*
/app/cache/*
/app/logs/*
!/app/cache/.gitkeep
!/app/logs/.gitkeep
/app/config/parameters.yml
/app/config/flok.yml
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/tpl/

/build.gradle
/build.xml
/buildtools/build.properties
