/.idea/workspace.xml
/.idea/dictionaries/*.xml
/build/
/buildtools/build.properties
/config/config.js
/dev/dock/
/dev/flok.to/
/doc/
/.gradle/
/node_modules/
/public/css/*.css
/public/vendor/bower/
/build.gradle
/build.xml
/npm-debug.log
/public/image/avatar/
