/* TODO: we want LESS! */

body {
    padding-top: 50px;
}

/* Nothing branding: more orange! */
.navbar {
    background-color: #ff6600;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #000000;
}

.navbar-nav > li > a {
    color: #ffffff;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    background-color: #ffffff;
    color: #000000;
}

.navbar-toggle {
    border-color: #ffffff;
}

.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #000000;
}

.navbar-toggle .icon-bar {
    background-color: #ffffff;
}

/* Loading page overlay */
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    z-index: 10000;
}

.overlay-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -25px 0px 0px -25px;
}

/* Dev color changes */
.navbar.dev {
    background-color: #999999;
}

/* Time Bundle */
.well.active {
    border-color: #009933;
    background-color: #dff0d8;
}

.archived {
    opacity: 0.75;
}

hr.small {
    margin-top: 10px;
    margin-bottom: 10px;
}
