<div ng-controller="LoginCtrl">
    <h1>{{ 'flok.login.title' | translate }}</h1>
    <div class="alert alert-{{ messageType }}" ng-show="message" ng-click="message = ''">
        {{ message }}
    </div>

    <form novalidate name="sessionForm">
        <input type="email" class="form-control" required ng-model="form.email"/>
        <input type="password" class="form-control" required ng-model="form.password"/>
        <button
         type="submit"
         class="btn btn-default"
         ng-disabled="sessionForm.$invalid"
         ng-click="submitLogin()">
            {{ 'flok.action.login' | translate }}
        </button>
        <button
         type="submit"
         class="btn btn-default"
         ng-disabled="sessionForm.$invalid"
         ng-click="submitRegistration()">
            {{ 'flok.action.register' | translate }}
        </button>
    </form>
</div>
