<div ng-show="contentLoaded">
    <h1>{{ 'flok.stream.title'| translate }}: {{ user }}</h1>

    <div class="" ng-repeat="event in events">
        <div class="row">
            <div class="col-xs-3">
                {{event.author.name}}
                <button class="btn btn-success hidden" ng-click="userFollow() | track:'user follow':$event">
                    <icon type="play"></icon>
                    {{ 'flok.stream.user.follow'| translate }}
                </button>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-12">
                        <strong>{{event.author.name}}</strong> <a ng-href="{{event.link}}">{{event.title}}</a>
                    </div>
                    <div class="col-xs-12">
                        <!-- DESCRIPTION -->
                        <p class="content-text" ng-bind-html="event.message.content"></p>
                    </div>
                    <div class="col-xs-12">
                        on {{event.timestamp | date:'medium'}}, added {{event.duration}} mins
                    </div>
                    <div class="hidden">
                        <div class="col-xs-8">
                            Favourites:
                            IMAGE IMAGE IMAGE IMAGE
                            + 12 more!
                        </div>
                        <div class="col-xs-8">
                            <button class="btn btn-success" ng-click="addComment() | track:'new comment':$event">
                                {{ 'flok.stream.comment.add'| translate }}
                            </button>
                        </div>
                        <div class="col-xs-4">
                            <icon type="play"></icon>
                            Collaborate
                        </div>
                        <div class="col-xs-4">
                            <icon type="play"></icon>
                            Tell your followers
                        </div>
                        <div class="col-xs-4">
                            <icon type="play"></icon>
                            Well done!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
