<div ng-show="contentLoaded" ng-controller="PriorityCtrl">
    <h1>{{ 'flok.priority.title'| translate }}</h1>

    <!-- TODO: move all the test to the locale file -->
    <div class="alert alert-warning" ng-hide="hideAlert" ng-click="hideAlert = true">
        The Priority component is currently a prototype for trying out interactions. No data is stored outside the browser and everything is subject to change.
    </div>

    <table class="table table-hover">
        <thead ng-repeat-start="(listType, taskList) in tasks">
        <tr>
            <th colspan="3">
                <h2>
                    <span ng-if="listType === 'planned'">Doing</span>
                    <span ng-if="listType === 'unplanned'">Todo</span>
                </h2>
            </th>
            <th colspan="3" class="hidden-xs"></th>
        </tr>
        <tr>
            <th class="hidden-xs">#</th>
            <th>Task</th>
            <th class="hidden-xs">Project</th>
            <th class="hidden-xs">Milestone</th>
            <th>Owner</th>
            <th>Remaining hours</th>
        </tr>
        </thead>
        <tbody ng-repeat-end ui-sortable="sortableOptions" class="task-container" ng-model="taskList">
        <tr class="task-row" ng-repeat="task in taskList">
            <td class="hidden-xs">{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td class="hidden-xs">{{ task.project }}</td>
            <td class="hidden-xs">{{ task.milestone }}</td>
            <td>{{ task.owner }}</td>
            <td title="Estimated: {{ task.time.estimated }}, Used: {{ task.time.used }}">{{ task.time.estimated - task.time.used }}</td>
        </tr>
        <tr ng-if="listType === 'planned'">
            <td colspan="2"></td>
            <td colspan="3" class="hidden-xs"></td>
            <td>{{ getTotalPlannedRemaining() }} Total</td>
        </tr>
        </tbody>
    </table>
</div>
