<div fullscreen="isFullscreen" ng-show="contentLoaded">
    <div class="events-list">
    <div class="events">
        <div class="sticky-event">

            <p class="content-text" ng-bind-html="stickyEvent.message.content"></p>
             <a ng-if="event.link" ng-href="stickyEvent.link"></a>
        </div>
        <div ng-repeat="event in events | limitTo:20">
            <div class="event" ng-class="{'event-same-author' : event.author.name === events[$index-1].author.name }"> 
                <div class="grid-container">
                    <div class="prefix-5 tablet-prefix-5 grid-90 tablet-grid-90 mobile-grid-100">
                        <!--AVATAR-->
                        <!-- If author is the same, don't display the avatar twice in a row -->
                        <div class="grid-20 tablet-grid-20 mobile-grid-100">&nbsp;
                            <div class="center-block" ng-if="event.author.name !== events[$index-1].author.name">
                                <div class="avatar img-circle center-block img-responsive" alt="Avatar of {{event.author.name}}" style="background-image: url('/media/avatar/{{event.author.name}}.png'), url('/image/avatar/fallback.png');">
                                </div>
                                <button class="btn btn-success hidden" ng-click="userFollow() | track:'user follow':$event">
                                    <icon type="play"></icon>
                                    {{ 'flok.activity.user.follow'| translate }}
                                </button>
                            </div>
                            <div class="center-block" ng-if="event.author.name === events[$index-1].author.name">
                                <div class="center-block avatar-dot"></div>
                            </div>
                        </div>

                        <!--CONTENT-->
                        <div class="grid-80 tablet-grid-80 mobile-grid-100">
                            <div class="block-element">
                                <div ng-if="event.title" class="event-title block-element-small">
                                    <a ng-if="event.link" ng-href="{{event.link}}">
                                        <strong ng-if="event.author.name !== events[$index-1].author.name">{{event.author.name}}
                                        </strong> <strong ng-if="event.author.name === events[$index-1].author.name">{{ 'flok.activity.and'| translate }}</strong> {{event.title}}</a>
                                    <strong ng-if="!event.link">{{event.author.name}}</strong> <span ng-if="!event.link" ng-bind="event.title"></span>
                                </div>
                                <div ng-if="event.message" class="">
                                    <!-- DESCRIPTION -->
                                    <p class="content-text" ng-bind-html="event.message.content"></p>
                                </div>
                                <div>

                                    <!--TODO: as long as we have the duration in the title, it doesn't make sense to show it a second time here:
                                    Long term goal is to remove it from the title and to add it to this signature -->
                                    <!--<p ng-if="event.duration && event.author.name !== events[$index-1].author.name" class="text-muted">-->
                                        <!--{{ 'flok.activity.item.datetimeWithDuration' | translate : {date: event.getFormattedTimestamp(), duration: event.getFormattedDuration()} }}-->
                                    <!--</p>-->

                                    <!--<p ng-if="event.duration && event.author.name === events[$index-1].author.name" class="text-muted">-->
                                        <!--{{ 'flok.activity.item.timeWithDuration' | translate : {time: event.timestamp, duration: event.getFormattedDuration()} }}-->
                                    <!--</p>-->

                                    <!--ng-if="!event.duration"-->
                                    <p class="text-muted">
                                        {{ 'flok.activity.item.datetime' | translate : {date: event.getFormattedTimestamp()} }}
                                    </p>
                                </div>
                                <div class="hidden">
                                    <div>
                                        Favourites:
                                        IMAGE IMAGE IMAGE IMAGE
                                        + 12 more!
                                    </div>
                                    <div>
                                        <button class="btn btn-success" ng-click="addComment() | track:'new comment':$event">
                                            {{ 'flok.activity.comment.add'| translate }}
                                        </button>
                                    </div>

                                    <div>
                                        <icon type="play"></icon>
                                        Collaborate
                                    </div>
                                    <div>
                                        <icon type="play"></icon>
                                        Tell your followers
                                    </div>
                                    <div>
                                        <icon type="play"></icon>
                                        Well done!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <span class="pull-right">
        <button type="button" class="btn btn-link" ng-click="toggleFullScreen()">
            <i class="icon-fullscreen"></i>
        </button>
    </span>
</div>
